@font-face {
  font-family: "orbitron";
  src: url("../assets/orbitron.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "code";
  src: url("../assets/code.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body{
    overflow: hidden;
}
.accueil{
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.85);
    font-family: "orbitron", sans-serif;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* filter: blur(2px); */
}

.haut{  
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    color: white;
}
.haut h1{
    font-size: 3em;
    text-shadow: 0 0 10px yellow;
}
.box-accueil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 5%;
}
.box-accueil h1{
    font-family: "orbitron", sans-serif;
    font-size: 1.8em;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
.box{
    font-family: "code", sans-serif;
    box-shadow: 0 0 20px rgb(158, 158, 158);
    background: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.5));
    padding: 1em;
    border-radius: 1em;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    transition: all 0.3s ease;
    height: 200px;
}
.box>a{
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: rgb(70, 70, 70);
    padding: 0.5em 1em;
    border-radius: 5px;
}
.box>a:hover{
    background: rgb(90, 90, 90);
}
.box:has(a:hover){
    box-shadow: 0 0 20px yellow;
    transform: scale(1.05);
}
.box-stages{
    height: 240px;
}
.btnProfil{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2em;
    color: rgb(214, 214, 214);
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    border-radius: 3em;
    text-decoration: none;
    box-shadow: 0 0 10px rgb(158, 158, 158);
    transition: all 0.3s ease;
}
.btnProfil:hover{
    box-shadow: 0 0 20px yellow;
    color: white;
    transform: scale(1.1);
}
.btnVeille{
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 1.6em;
    color: rgb(214, 214, 214);
    background: rgba(0, 0, 0, 0.5);
    padding: 0.7em 0.5em;
    border-radius: 3em;
    text-decoration: none;
    box-shadow: 0 0 10px rgb(158, 158, 158);
    transition: all 0.3s ease;
}
.btnVeille:hover{
    box-shadow: 0 0 20px yellow;
    color: white;
    transform: scale(1.1);
}