.accueil{
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.85);
    
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* filter: blur(2px); */
}

.haut{  
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    color: white;
}
.haut h1{
    font-size: 3em;
    text-shadow: 0 0 10px yellow;
}
.box-accueil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 5%;
}
.box-accueil h1{
    font-size: 1.8em;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
.box{
    box-shadow: 0 0 20px rgb(158, 158, 158);
    background: radial-gradient(circle, black, rgba(255, 255, 255, 0.7));
    padding: 1em;
    border-radius: 1em;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    transition: all 0.3s ease;
    height: 200px;
}
.box>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: rgb(70, 70, 70);
    padding: 0.5em 1em;
    border-radius: 5px;
}
.box>a:hover{
    background: rgb(90, 90, 90);
}
.box:has(a:hover){
    box-shadow: 0 0 20px yellow;
    transform: scale(1.05);
}
.box-stages{
    height: 240px;
}