.accueil{
    background: rgb(100, 100, 100);
    padding: none;
    min-width: 100vw;
    min-height: 100vh;
}
.haut{
    padding-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(44, 44, 44);
    min-width: 100vw;
    min-height: 80vh;
    color: white;
}
.box-accueil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 5%;
}
.box{
    box-shadow: 0 0 20px rgb(158, 158, 158);
    background: radial-gradient(circle, black, rgba(255, 255, 255, 0.5));
    padding: 1em;
    border-radius: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
}
.box>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: rgb(70, 70, 70);
    padding: 0.5em 1em;
    border-radius: 5px;
}
.box>a:hover{
    background: rgb(90, 90, 90);
}
.box:has(a:hover){
    box-shadow: 0 0 20px yellow;
}