.formation {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, black, grey);
}
.formationContainer {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    height: 40vh;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2em;
}
.formationContainer h2 {
    color: #ffffff;
    margin-bottom: 10px;
}
.formationContainer p {
    line-height: 1.6;
    color: #ffffff;
}