@font-face {
  font-family: "orbitron";
  src: url("../assets/orbitron.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body{
    overflow-y: scroll;
}
.projets{
    min-height: 100vh;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, black, rgb(0, 0, 150), black);
    position: relative;
}
h1, h2, h5{
    font-family: "orbitron", sans-serif;
}
table{
    width: 100vw;
}
tr{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2em;
    padding: 2em;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2em;
    box-shadow: 0 0 20px rgb(158, 158, 158);
    width: 24%;
    height: 60vh;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.8);
}

.card td {
    position: relative;
    z-index: 2;
}
td>h2{
    text-shadow: 0 0 10px blue;
}
td>h5{
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
hr {
    border: 0;
    height: 2px;
    background: rgb(150, 150, 150);
    width: 80%;
    margin:0;
}
.description{
    background: rgba(0, 0, 0, 0.86);
    height: 34%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(150, 150, 150);
    border-bottom: 2px solid rgb(150, 150, 150);
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.86);
    padding: 0.5em 1em;
    border-radius: 5px;
}
a:hover{
    background: rgb(69, 69, 69);
}
.card:has(a:hover){
    box-shadow: 0 0 20px blue;
    transform: scale(1.03);
}
