.projets{
    min-height: 80vh;
    color: white;
    text-align: center;
    background: rgb(78, 78, 78);
}
table{
    width: 100vw;
}
tr{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2em;
    padding: 2em;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 40vh;
}
