.stages {
    background: linear-gradient(to bottom, black, blue, black, blue, black);
    color: white;
    text-align: center;
}
.titreS1{
    margin-top: 2em;
    text-align: center;
    justify-content: first baseline;
    background: url('../assets/acensi1.jpg') no-repeat center center;
    background-size: cover;
    height: 650px;
    color: white;
}
.contenuS1{
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
    margin: 4em 0 4em 0;
    height: 300px;
    width: 100vw;
}
.imgs1{
    width: 380px;
    height: auto;
    border-radius: 1em;
    /* box-shadow: 0 0 15px blue; */
    margin-left: 2em;
}
.descriptions1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 2em;
    height: 100%;
    width: 60%;
}
.contenuCardS1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: 100vh;
}
.card{
    height: 88%;
    width: 30%;
    box-shadow: 0 0 20px black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2em;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease;
}

.description{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'code', sans-serif;
    background: rgba(0, 0, 0, 0.86);
    padding: 1.5rem 1em;
    margin: 0;
    text-align: center;
    border-top: 2px solid rgb(150, 150, 150);
    border-bottom: 2px solid rgb(150, 150, 150);
}
img {
    height: 120px;
    /* box-shadow: 0 0 15px blue; */
}
.realisation {
    width: 60%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    padding: 2em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1em;
}
.realisation h2, .realisation h3 {
    font-family: 'orbitron', sans-serif;
    text-shadow: 0 0 10px black;
    margin: 1em 0;
}
.realisation p {
    font-family: 'code', sans-serif;
    padding: 1em;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    width: 80%;
}